.nav-container {
  height: 80px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.links-con {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.home-link {
  color: #64748b;
  font-weight: 500;
  font-size: 25px;
  line-height: 26px;
}
.books-link {
  color: #64748b;
  font-weight: 500;
  font-size: 25px;
  line-height: 26px;
}
.log-out {
  background-color: #0284c7;
  height: 30px;
  width: 70px;
  border-radius: 5px;
  border-width: 0px;
}
