.div-con {
  height: 400px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.login-img {
  height: 100vh;
  width: 50%;
}
.form-con {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 60px;
}
.label {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #5a7184;
}
.input-username {
  height: 37px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #5a7184;
  border-radius: 6px;
  width: 270px;
  font-size: 15px;
  font-family: 'Roboto';
  padding-left: 15px;
}
.check-box-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-pass {
  color: #5a7184;
}
.submit-button {
  width: 270px;
  height: 37px;
  background-color: #0284c7;
  color: white;
  font-weight: 600px;
  border-width: 0px;
  border-radius: 10px;
}
.error-msg {
  color: red;
  font-family: 'Roboto';
}
.toggle-con {
  height: 30px;
}
@media (max-width: 800px) {
  .main-container {
    display: none;
  }
  .main-container-mb {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .img-login-mb {
    height: 350px;
    width: 100%;
    margin-top: 30px;
  }
  .img-container-login {
    height: 50%;
  }
}
@media (min-width: 800px) {
  .main-container-mb {
    display: none;
  }
}
